##Q.1

A database is a collection of information that is organized and stored in a structured way, usually in a computer system, so that it can be accessed and manipulated. 

SQL (Structured Query Language) databases are based on relational models and use data in a structured format, usually in tables. SQL databases are well-suited for structured data and support complex queries, transactions, and security. 

NoSQL (Not Only SQL) databases are based on non-relational models and do not use fixed table schemas. NoSQL databases are a better choice for unstructured data, such as documents, images, and videos. They are also better suited for high-performance applications that require scalability and availability.

##Q.2

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes. EX:
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.EX:
ALTER TABLE Student_info
ADD CGPA number;

TRUNCATE: This command is used to remove all rows from the table, but the structure of the table still exists.
TRUNCATE TABLE table_name;

DROP :
This command is used to remove an existing table along with its structure from the Database.
EX: DROP TABLE Student_info;

##Q.3

The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.

INSERT
Insert command is used to insert data into a table.

The syntax for insert command is as follows âˆ’

Syntax
Insert into <table_name> (column list) values (column values);


DELETE
Delete command is used to delete records from a database table.

The syntax for the delete command is as follows -

Syntax
 Delete from <table_name>WHERE condition;
 
 
 UPDATE
Update command is used to update existing data within a table.

The syntax for the update command is as follows -

Syntax
UPDATE <table_name> SET column_number =value_number WHERE condition;

##Q.4

DQL (Data Query Language):
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows: it is a component of SQL that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.
List of DQL:

SELECT: It is used to retrieve data from the database.
This command helps you to select the attribute based on the condition described by the WHERE clause.

Syntax:

SELECT expressions FROM TABLES WHERE conditions;

##Q.5

A primary key is a field in a table that uniquely identifies each record in the table. It is usually a numeric value or a combination of fields that uniquely identify each record. 

A foreign key is a field in a table that is linked to a primary key in another table. It is used to establish a relationship between the two tables and is used to ensure data integrity.

##Q.6

import mysql.connector

'''The cursor() method is used to create a cursor object that can be used to execute SQL queries. This method takes no arguments and returns a cursor object.

The execute() method is used to execute an SQL query using the cursor object. This method takes an SQL query as a string and optional parameters as arguments. It returns a result set if the query is a select query, otherwise it returns the number of rows affected.'''

In [ ]:
connections = mysql.connector.connect(
    host = 'localhost',
    user = 'srk',
    password = 'kk'
)
print(connections)
mycursor = connections.cursor()
mycursor.execute()

##Q.7

1	FROM	Tables are joined to get the base data.

2	WHERE	The base data is filtered.

3	GROUP BY	The filtered base data is grouped.

4	HAVING	The grouped base data is filtered.

5	SELECT	The final data is returned.

6	ORDER BY	The final data is sorted.

7	LIMIT	The returned data is limited to row count.