In [3]:
import pandas as pd

Q.1

In [5]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [6]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [12]:
df[1:2]

        course_name  duration
1  Machine Learning         3

In [19]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q.2

Both loc and iloc are methods in Pandas that allow you to access subsets of a DataFrame. However, they differ in the way they handle indexing:

iloc is used for integer-based indexing: You can use integer positions to access rows and columns of a DataFrame. The syntax for using iloc is df.iloc[row_index, column_index], where df is the DataFrame, and row_index and column_index refer to the integer position of the row and column, respectively. For example, df.iloc[0, 1] will return the value at the first row and second column.

loc is used for label-based indexing: You can use labels to access rows and columns of a DataFrame. The syntax for using loc is df.loc[row_label, column_label], where row_label and column_label refer to the label of the row and column, respectively. For example, df.loc['row_label', 'column_label'] will return the value at the row with the specified label and column with the specified label.

In short, the main difference between iloc and loc is that iloc uses integer-based indexing while loc uses label-based indexing.

Q.3

In [20]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

In [24]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [22]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [23]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

Yes there is diffrence in both function iloc returned the index of 2 and loc found the value 2 in index column returned the corresponding row

Q.4

In [25]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [45]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.555549  0.564454  0.687645  0.907918  0.602006  0.503413
2  0.467649  0.727311  0.918109  0.159503  0.363735  0.912940
3  0.613249  0.546801  0.055863  0.417416  0.285854  0.040909
4  0.673114  0.949887  0.584768  0.419937  0.636713  0.105410
5  0.399503  0.876761  0.014359  0.723800  0.385140  0.711235
6  0.610622  0.650981  0.515477  0.249451  0.382134  0.931145

In [44]:
df1.mean()

column_1    0.553281
column_2    0.719366
column_3    0.462703
column_4    0.479671
column_5    0.442597
column_6    0.534175
dtype: float64

In [43]:
df1['column_2'].std()

0.16518436158078098

Q.5

In [47]:
df1.loc[2, 'column_2'] = 'skr'

df1['column_2'].mean()  - error!

unsupported operand type(s) for +: 'float' and 'str' - error because mean can not be found for string and float data type togather

Q.6

In Pandas, a window function is a function that performs a calculation over a sliding window of data. The sliding window is defined by a fixed-size window or a variable-size window based on a time-based or rolling window.

The types of window functions in Pandas are:

Rolling window functions: These functions compute an aggregate function over a fixed-size window of data that slides over the data. You can use a fixed-size window or a time-based window. Examples include rolling_mean(), rolling_sum(), rolling_median(), rolling_std(), and rolling_var().

Expanding window functions: These functions compute an aggregate function over all the data points up to the current point. Examples include expanding_mean(), expanding_sum(), expanding_median(), expanding_std(), and expanding_var().

Exponential weighted window functions: These functions compute a weighted average over a sliding window of data, where the weights decay exponentially over time. Examples include ewm(), ewma(), and ewmstd().

Grouped window functions: These functions compute an aggregate function over a sliding window of data for each group in a grouped DataFrame. Examples include rolling_apply() and expanding_apply().

Window functions can be useful for analyzing time-series data, as they allow you to calculate rolling statistics such as moving averages or rolling standard deviations. They can also be used for feature engineering and data preprocessing in machine learning, by computing statistics over a sliding window of data as input features.

Q.7

In [51]:
now = pd.Timestamp.now()

In [ ]:
Cyear = now.year
Cmonth = now.month

In [56]:
print(Cyear)
print(Cmonth)

2023
4

Q.8

In [4]:
a = input("Enter date 1 ")
b= input("Enter date 2 ")
def datetimesf(a,b):
    d1 = pd.to_datetime(a)
    d2 = pd.to_datetime(b)
    return d2-d1
datetimesf(a,b)

Enter date 1  2022-01-01
Enter date 2  2022-01-10

Timedelta('9 days 00:00:00')

Q.9

In [ ]:
# prompt the user to enter the file path
file_path = input("Enter path ")

# prompt the user to enter the column name
column_name = input("Enter column name: ")

# prompt the user to enter the category order
category_order = input("Enter the category").split(",")

# read the CSV file into a DataFrame
df2 = pd.read_csv(file_path)

# convert the specified column to a categorical data type with the specified category order
df2[column_name] = pd.Categorical(df2[column_name], categories=category_order, ordered=True)

# sort the data by the specified column
df2 = df2.sort_values(by=column_name)

print(df2)

Q.10

In [ ]:
import matplotlib.pyplot as plt

# enter the file path
file_path = input("Enter the file path: ")

# csv file into a DataFrame
df = pd.read_csv(file_path)

# Date' column to a datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Gproduct category and date and sum the sales
df = df.groupby(['Product Category', 'Date'])['Sales'].sum().reset_index()

# Pivot the data to create a table with product categories as columns and dates as rows
df_pivot = df.pivot(index='Date', columns='Product Category', values='Sales')

# Create a stacked bar chart
ax = df_pivot.plot(kind='bar', stacked=True)

# Set the axis labels and title
ax.set_xlabel('Date')
ax.set_ylabel('Sales')
ax.set_title('Sales by Product Category over Time')

# Display the chart
plt.show()

Q.11

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode().iloc[0]

# Display the results in a table
results = pd.DataFrame({
    'Mean': [mean_score],
    'Median': [median_score],
    'Mode': [mode_score]
})
print(results)
In this program, we first prompt the user to enter the file path of the CSV file containing the student data. We then read the CSV file into a DataFrame using the pd.read_csv() function.

Next, we calculate the mean, median, and mode of the test scores using the mean(), median(), and mode() functions, respectively. Note that the mode() function returns a Series object, so we use the iloc[0] indexer to extract the first element of the mode.

We then create a new DataFrame called results that contains the mean, median, and mode of the test scores, and display the results using the print() function.

In [11]:
path = input('enter file path')

def cal(path):
    df4 = pd.read_csv(path)
    ms = df4['TestScore'].mean()
    mds = df4['TestScore'].median()
    md = df4['TestScore'].mode()
    result = pd.DataFrame({'mean':[ms],
                           'median':[mds],
                           'mode':[md]})
    return result

cal(pa

enter file path studentdata.csv